(
    parent: "full_block",
    textures: (
        north   : "grass_block_side",
        east    : "grass_block_side",
        west    : "grass_block_side",
        south   : "grass_block_side",
        up      : "grass_block_top",
        down    : "dirt",
    ),
)